/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

label {
  display: inline-flexbox;
  text-align: right;
}

form label {
  font-weight: bold;
    width: 180px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 150px;
  padding: 5px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media screen and (max-width: 480px) {
  #menu {
    display: flex;
  }

  #menu > li {
    flex: 1;
  margin: 10px;
  font-size: 20px;
  }
  #join {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


  #join  img{
    flex:1;
    margin: 10px;
    width: 400px;
    height:350px;
  }

 #join .myform{
  flex: 2;
 margin-top: 20px;
text-align: right;
width: 400px;
  }
  label {
    margin-right: 50px;
    text-align: left;
  }
  
  
  #join h2 {
    margin-bottom: 0; 
  }

  #about {
    display: flex;
    flex-direction: column;
  }


  #about h2{
    flex:1;
    margin: 10px;
  }
  
  #about div{
  display: flex;
  flex-direction: column;
  margin: 10px;
  }
   .img1{
    width: 350px;
    margin: 10px;
  }

  #about > p{
    width: 350px;
  }

  #download {
    display: flex;
    flex-direction: column;
  }

  #download > div{
    flex:2;
    text-align: left;
    
  }
  #download > img{
    width:400px;
  }

  #blog{
    width: 100%;
  }
  #blog h2{
    margin-bottom: 10px;
  }
  .main-blog {
    display: flex;
    flex-direction: column;

  }
  
  .blog-post{
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .blog-post img, p{
    width: 300px;
  }
  footer p{
    display: flex;
    flex-direction: column;
    }
}

/* Desktop View Media Query */

@media screen and (min-width: 480px) {
  header {
    display: flex;
  }


header > div{
  flex: 1;
  margin-right:90px;
}

header > nav{
  flex:1;
  margin-left: 380px;
}

#menu{
  display: flex;
  font-size: 20px;
}

#join {
  display: flex;
  align-items: flex-end;
}
#join img {
  flex:2;
  margin: 10px;
 height: 450px;
}

#join .myform {
  flex: 1;
margin-bottom: 40px;
text-align: right;

}

label {
  margin-right: 100px;
  text-align: left;
}


#join h2 {
  margin-bottom: 0; 
}

#about {
  display: flex;
  flex-direction: column;
}
#about h2{
  flex:1;
  margin: 10px;
}

#about div, img, p{
display: flex;
height: 200px;
 margin: 10px;

}

.img1{
  width: 500px;
}



#download {
  display: flex;

}

#download > div{
flex: 2;
}
#download ul {
  position: absolute;
  top: 1080px;
}
#download > img{
  flex: 2;
  height: 400px;
}

#blog{
  width: 100%;
}

#blog h2{
  margin-bottom: 10px;
}
.main-blog {
  display: flex;
  flex-wrap: wrap;
}

.blog-post{
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.blog-post img{
  width: 500px;
  height: 350px;
}


.blog-post h3{
  width: 500px;
}

.blog-post p{
  width: 500px;
  height: 150px;
}


footer p{
display: flex;
flex-direction: column;
}

}